.gamers
    background-color: $color-blue-dark
    grid-column: col-start 7 / full-end
    display: grid
    grid-template-columns: max-content
    grid-gap: 4rem 2rem
    align-content: center
    justify-content: center
    @include respond(tab-port)
        grid-column: 1 / -1
        grid-template-columns: repeat(auto-fit, minmax(28rem, max-content))
        padding: 3.2rem
    @include respond(phone)
        grid-template-columns: min-content
        justify-content: right
    &__box
        display: grid
        grid-template-columns: max-content minmax(12rem, max-content)
        grid-gap: 2rem
        
            

    &__title
        grid-column: 1 / -1
        justify-self: center
        
    &__wrapper-img
        width: 7rem
        height: 7rem
        overflow: hidden
        border-radius: 50%
    &__img
        width: 100%
        height:100%
        object-fit: cover
        transform: scale(1.02)
        
    &__text-info
        align-self: center
        min-width: 0
        h3
            white-space: normal
    &__score
        color: $color-gray-dark
        font-weight: 300
        line-height: 125%