.header
    background-color: $color-blue-dark
    grid-column: full-start / col-end 6
.logo
    display: block
    margin-bottom: 8rem
    &__svg
        display: block
        margin: 0 auto
        width: 12rem
        height: 4rem
